@import url(https://fonts.googleapis.com/css?family=Raleway);

html, body, #content {
    margin: 0px;
    height: 100%;
    font-family: sans-serif;
    font-weight: lighter;
    color: #ffffff;
    background-color: #536f65;
    text-align: center;
    line-height: 1.4;
}
#splash {
    height: 100%;
    width: 100%;
    display: table;
    table-layout: fixed;
    max-width: 900px;
    margin: auto;
    position: relative;
}

img.appstore {
    max-width: 120px;
}
.iphone {
    background-image: url('https://app-stop.appspot.com/static/5s.png');
    background-size: contain;
    position: relative;
    width: 720px;
    height: 1440px;
}
.iphone img {
    position: absolute;
    top: 17.9%;
    left: 14%;
    width: 73%;
}

h1{
    font-size: 340%;
    line-height: 30%;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Raleway", sans-serif;
    font-weight: normal;
}
.icon-row {
    margin: 30px;
    margin-top: 40px;
    margin-bottom: 80px;
    border-bottom: 1px solid rgba(0,0,0,0.3);
    position: relative;
}
.icon-row .icon-container {
    position: absolute;
    width: 80px;
    height: 80px;
    left: 50%;
    top: 50%;
    margin-left: -40px;
    margin-top: -40px;
}
.icon-row img {
    width: 100%;
    /*border-radius: 19px;*/
    /*box-shadow: 0px 0px 2px rgba(0,0,0,0.5);*/
}
#description {
    margin: auto;
    width: 90%;
    max-width: 900px;
    white-space: pre-wrap;
    text-align: left;
}
#screenshots {
    margin-bottom: 2em;
}
#screenshots img {
    border: 1px solid white;
    box-shadow: 0px 0px 2px rgba(0,0,0,0.5);
    margin: 1em;
}
#stars {
    text-align: center;
    font-style: italic;
    font-size: small;
}
#stars span {
    display: block;
    font-size: 30px;
    font-style: normal;
}
#attribution {
    font-size: small;
    padding-bottom: 6em;
}
#attribution a {
    color: #dddddd;
}
#attribution a:hover {
    color: #ffffff;
}

a {
    color: #dddddd;
}
a:hover {
    color: #ffffff;
}

@media screen and (min-width: 900px) {
    #splash > div {
        display: table-cell;
        vertical-align: middle;
        padding: 1em;
        height: 100%;
    }
    #splash #left {
        text-align: right;
    }
    #splash #right {
        text-align: left;
    }
    #splash .iphone {
        width: 288px;
        height: 576px;
    }
    #screenshots img {
        max-width: 200px;
    }
    #like-container {
        position: absolute;
        top: 100%;
        right: 20px;
        margin-top: -50px;
    }
}
#chevron {
    position: absolute;
    left: 50%;
    top: 100%;
    margin-top: -2em;
    color: #10142a;
    opacity: 0.5;
    margin-left: -0.5em;
}
@media screen and (max-width: 900px) {
    #chevron {
        display: none;
    }
    #splash .iphone {
        width: 192px;
        height: 384px;
        display: inline-block;
    }
    #splash #left {
        padding: 10px;
    }
    #screenshots img {
        margin: 0.2em;
        max-width: 160px;
    }
    #splash .appstore {
        display: none;
    }
}
